#signupbox, #loginbox, #profilepage {
	border: 3px solid;
	border-radius: 10px;
	margin-top: 50px;
	background-color: #F2F2F2;
}

h3 {
	text-align: center;
	font-weight: bold;
}

.submitbutton {
	font-weight: bold;
	font-size: 1.1em;
	color: black;
	background-color: #1CD6D6;
}

.form-inline .form-group {
margin-bottom: 15px;
}


/* html {
	font-family: Verdana;
}

form {
	width: 50%;
	margin: 0 auto;
}

label {
	display: inline-block;
	float: left;
	clear: left;
	width: 150px;
	text-align: right;
}

#submit, #login {
	font-size: 1.2em;
	background-color: #1CD6D6;
	color: black;
	padding: 10px;
	font-family: Verdana;
	border-style: solid;
	border-width: 3px;
	border-color: #6F7878;
	border-radius: 5px;
	width: 50%;
	clear: left;
}

.formRow {
	height: 50px;
	display: inline-block;
	float: left;
	width: 100%;
}
*/