<div class="row">
	<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 box">
		<div class="row">
			<div class="col-md-12">
				<h3>Profile</h3>
			</div>
		</div>
		<form method="POST" class="form-inline">
			<div class="form-group">
				<label for="firstname">First Name</label>
				<input type="text" name="firstname" placeholder="John" class="form-control">
			</div>
			<div class="form-group">
				<label for="lastname">Last Name</label>
				<input type="text" name="lastname" placeholder="Smith" class="form-control">
			</div>
			<div class="form-group">
				<label for="gender">Gender</label>
				<select name="gender" class="form-control">
					<option value="male">Male</option>
					<option value="female">Female</option>
				</select>
			</div>
			<div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" placeholder="johnsmith@gmail.com" class="form-control">
				</div>
			</div>
			<div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" name="password" placeholder="ABCD1234" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 col-sm-offset-4">
					<input type="submit" name="submit" value="Update" class="form-control submitbutton">
				</div>
			</div>
		</form>
	</div>
</div>