<div class="project">
	<h4>This project is called <%= @project.name %>!</h4>
	<h4>It is in the category of <%= @project.category %>!</h4>
	<h4>It raised <%= @project.funding_pledged %> of its <%= @project.funding_goal %> goal!</h4>
	<h4>The project creator is<%  %>~to be coded~</h4>
</div>